header {
  background-color: #e63946; 
  padding: 30px;
  
}

nav {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}
.logo img {
  width: 100px; 
  height: auto; 
  max-height: 80px; 
  border-radius: 8px; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0; 
  padding: 0; 
}

nav li {
  margin: 0 15px; 
}

nav a {
  color: white; 
  font-weight: bold; 
  text-decoration: none; 
}

nav a:hover {
  text-decoration: underline; 
}