<p>modificar-usuario works!</p>
<div class="modificar-usuario">
  <h2>Modificar Usuario</h2>

  <div class="perfil">
    <img src="assets/images/perfil-placeholder.png" alt="Foto de Perfil" class="foto-perfil">
    <p>Nombre: <input type="text" [(ngModel)]="usuario.nombre"></p>
    <p>Email: <input type="email" [(ngModel)]="usuario.email"></p>
  </div>

  <h3>Información Deportiva</h3>
  <form>
    <label for="peso">Peso (kg):</label>
    <input type="number" id="peso" [(ngModel)]="usuario.peso" name="peso">

    <label for="altura">Altura (cm):</label>
    <input type="text" id="altura" [(ngModel)]="usuario.altura" name="altura">

    <label>Proceso:</label>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="usuario.proceso.volumen" name="volumen"> Volumen
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="usuario.proceso.perdida" name="pérdida"> Pérdida de Peso
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="usuario.proceso.mantenimiento" name="mantenimiento"> Mantenimiento
      </label>
    </div>

    <label for="nutricion">Opciones de Nutrición:</label>
    <select id="nutricion" [(ngModel)]="usuario.nutricion" name="nutricion">
      <option value="alta-proteina">Alta en Proteína</option>
      <option value="baja-carb">Baja en Carbohidratos</option>
      <option value="dieta-mediterranea">Dieta Mediterránea</option>
      <option value="dieta-equilibrada">Dieta Equilibrada</option>
      <option value="vegan">Vegan</option>
    </select>

    <button type="submit">Guardar Cambios</button>
  </form>
</div>

