.routine-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .routine-list li {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
  }
  
  .routine-list img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  