/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #e63946; /* Rojo vibrante */
  }
  
  button {
    background-color: #e63946;
    border: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b80d30;
  }
  
  /* Links */
  a {
    color: #e63946;
    text-decoration: none;
  }
  
  a:hover {
    color: #fff;
  }