.home {
    text-align: center;
    padding: 50px 20px;
    
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  .home img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .background {
    background-image: url('/assets/images/home.png');
    height: 100vh; /* Altura completa de la ventana */
    background-size: cover; /* Ajustar la imagen para cubrir el div */
    background-position: center; /* Centrar la imagen */
    display: flex; /* Para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: white; /* Color del texto */
}